name: Build Job #name of the workflow
on: 
  push:
    branches: 
      - main
      
  pull_request:
    branches:
      - main

  workflow_dispatch:

  # schedule:
  #   - cron: "10 14 * * 1-5" #run at 2:10PM from monday to friday

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 #we can pass input parameters to actions using with, we can refer https://github.com/marketplace/actions/checkout 

      - name: Maven Build
        run: mvn install


  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Run tests on main branch
        run: mvn test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle
